<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Thredcheck.com is an initiative to help people get the most for their previously loved items. Using up-to-date data from the web, Thredcheck will help you get the most for your items</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a href="#">Search</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">Placeholder_1</a></li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">Placeholder_2</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">Placeholder_3</a></li>
                    <li><a href="http://scanfcode.com/category/android/">Placeholder_4</a></li>
                    <li><a href="http://scanfcode.com/category/templates/">Placeholder_5</a></li>
                </ul>
            </div>
            
            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/">About Us</a></li>
                    <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                    <a href="#">Thredcheck</a>.
                </p>
            </div>

            <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>