{% extends "resale_app/base.html" %} {% block content %}

{% load static %}


<!-- Main Container -->
<div class="row justify-content-md-center m-10 form-inline">
    <!-- The left container  -->
    <div class="col-sm-6 left-right-container">
        <h1 class="display-3 color-1 text-shadow" style="margin-bottom: 20px">Find the best resale price for your pre-loved clothes!</h1>
        <h4 class="color-2 text-shadow" style="line-height: 1.5;">We search the web for data on second-hand threads that are selling online so you can spend more time thriftin'</h4>
    </div>

    <!-- The right container  -->
    <div class="col-sm-6 left-right-container search_form">
        <form id="search" action="./search_result/" method="post">
            {% csrf_token %}
            <fieldset>
                <h3 class="color-1" style="text-align:center; margin-bottom: 30px; text-decoration: underline; text-decoration-color: hsl(159, 83%, 47%);">
                    See how much your items could be worth</h3>
                <select class="form-control form-control-lg search-field" id="brand_search" name="brand"
                    autocomplete="True">
                    <option value="" disabled selected>Select Brand...</option>
                    {% for brand in available_brands %}
                    <option>{{ brand.brand_name|title }}</option>
                    {% endfor %}
                </select>
            </fieldset>

            <fieldset>
                <select class="form-control form-control-lg search-field" id="available_categories" name="category">
                    <option value="" disabled selected>Select Category...</option>
                </select>
            </fieldset>

            <fieldset>
                <input class="form-control form-control-lg search-field" type="text" placeholder="Keywords (optional)" id="keywords" name="keyword">
            </fieldset>
            <div style="text-align:center">
                <input type="submit" class="btn btn-dark btn-lg btn-block search-button" value="Search" />
            </div>
        </form>
    </div>

</div>

<button onclick="window.location.reload();" id="new_search" class="btn btn-dark btn-lg mt-2">New Search</button>

<script src="{% static 'resale_app/js/search.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

{% endblock %}