{% extends "resale_app/base.html" %} {% block content %}

{% load static %}

<div class="row justify-content-md-center m-5">
    <div class="d-flex justify-content-center">
        <h1>Find the best resale price for your pre-loved clothes!</h1>
    </div>
</div>

<form id="search" action="./search_result/" , method="post">
    {% csrf_token %}
    <div class="row justify-content-md-center m-10 form-inline">
        <div class="col-sm-6 search_form">
            <fieldset>
                <select class="form-control form-control-lg" id="brand_search" name="brand" autocomplete="True">
                    <option value="" disabled selected>Select Brand...</option>
                    {% for brand in available_brands %}
                    <option>{{ brand.brand_name|title }}</option>
                    {% endfor %}
                </select>
                <input type="button" class="btn btn-dark btn-lg mt-2 next" value="Next" />
            </fieldset>
            <fieldset>
                <select class="form-control form-control-lg" id="available_categories" name="category">
                    <option value="" disabled selected>Select Category...</option>
                </select>
                <input type="submit" class="btn btn-dark btn-lg mt-2 submit" value="Let's go!" />
            </fieldset>
        </div>
    </div>

<button onclick="window.location.reload();" id="new_search" class="btn btn-dark btn-lg mt-2">New Search</button>
<hr>

<div class="row justify-content-md-center m-5">
    <div class="col-10">
        <h3>Popular Searches</h3>
        <div class="popular_searches">
            {% for brand in available_brands %}
            <button type="button" id="popular_brand_search_{{ brand.brand_name|upper }}" 
            class="btn btn-dark btn-lg mt-2 pop_search"> {{ brand.brand_name|title }} </button>
            {% endfor %}
        </div>
    </div>
</div>
</form>

<script src="{% static 'resale_app/js/search.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

{% endblock %}